.actions-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section-actions {
    display: flex;
    align-items: center;
}

.left-section-actions {
    text-decoration: none;
    color: #007bff;
    /* font-size: 20px; */
    padding: 5px;
    gap: 7px;
}

.right-section-actions {
    display: flex;
    align-items: center;
}

.right-section-actions {
    margin-left: 10px; /* Spacing between elements */
}

.right-section-actions .dropdown-menu {
    min-width: 150px; /* Adjust size */
}

.right-section-actions .dropdown-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.right-section-actions .dropdown-item:hover {
    background-color: #f0f0f0; /* Hover effect */
}

.btn-sort, .btn-filter, .btn-add-sy{
    padding: 3px;
    border-radius: 5px;
    border: none;
    align-items: center; 
    transition: border-color 0.3s ease;
    background-color: inherit;
    margin: 2px;
    font-size: 1.3rem;
}

button.btn-add-sy {
    font-size: 1.3rem;
    padding: 8px;
}

.rs-a{
    border: solid #181818 1px;
    margin-left: 5px;
    border-radius: 10px;
}

.btn-add{
    padding: 3px;
    font-size: 1.8rem;
}

.search-bar {
    background-color: #007bff;
    border-radius: 10px;
    width: 253px;
}

.search-bar button{
    border: none;
    background-color:transparent;
}

.searchBox{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: 1px;
    padding: 0.5rem;
}

.bi-search{
    margin-left: 0;
    font-size: 1rem;
}

.searchButton{
    width: 50px;
}
